<!DOCTYPE html>
<html>

<head>
  <title>Admin | Movies</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/fe_style.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="bg-black font-raleway text-cfab7a">
  <header class="px-16 py-6">
    <a href="/" class="text-4xl font-semibold hover:text-white">TixOnline</a>
  </header>
  <div class="flex justify-center">
    <div class="relative w-full max-w-screen-xl overflow-x-auto overflow-y-auto rounded-lg shadow md:max-w-screen-2xl">
      <div class="flex justify-end">
        <a href="/admin/movies/add" class="px-4 py-2 mb-4 text-black rounded-md custom-btn">Add New Item</a>
      </div>
      <table class="relative w-full whitespace-no-wrap border-2 border-gold table-auto table-striped">
        <thead>
          <tr class="text-left border-gold">
            <th class="sticky top-0 px-3 py-2 border-2 border-gold">Name</th>
            <th class="sticky top-0 px-3 py-2 border-2 border-gold">Genre</th>
            <th class="sticky top-0 px-3 py-2 border-2 border-gold">Duration</th>
            <th class="sticky top-0 px-3 py-2 border-2 border-gold">Release Date</th>
            <th class="sticky top-0 px-3 py-2 border-2 border-gold">Synopsis</th>
            <th class="sticky top-0 px-3 py-2 border-2 border-gold">Status</th>
            <th class="sticky top-0 px-3 py-2 border-2 border-gold">Trailer Link</th>
            <th class="sticky top-0 px-3 py-2 border-2 border-gold">Rating</th>
            <th class="sticky top-0 px-3 py-2 border-2 border-gold">Image</th>
            <th class="sticky top-0 px-3 py-2 border-2 border-gold">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% movies.forEach(function(movie) { %>
            <tr class="border-2 border-gold">
              <td class="px-3 py-2 border-2 border-gold ">
                <%= movie.title %>
              </td>
              <td class="px-3 py-2 border-2 border-gold ">
                <%= movie.genre %>
              </td>
              <td class="border-gold border-2 px-3 py-2 min-w-[150px]">
                <%= movie.duration %>
              </td>
              <td class="border-gold border-2 px-3 py-2 min-w-[150px]">
                <%= movie.release_date %>
              </td>
              <td class="border-goldpx-3 py-2 border-2 border-gold">
                <%= movie.synopsis %>
              </td>
              <td class="px-3 py-2 border-2 border-gold">
                <%= movie.status %>
              </td>
              <td class="px-3 py-2 border-2 border-gold">
                <%= movie.trailer_link %>
              </td>
              <td class="px-3 py-2 border-2 border-gold">
                <%= movie.rating %>
              </td>
              <td class="px-3 py-2 border-2 border-gold">
                <img src='/images/<%= movie.images %> ' class="w-16 h-24">
              </td>
              <td class="flex items-center px-3 py-2 space-x-2 border-t border-gold">
                <a href="/admin/movies/edit/<%= movie.movie_id %>"
                  class="text-blue-500 underline hover:text-blue-700">Edit</a>
                <form action="/delete-movie/<%= movie.movie_id %>" method="post" class="inline">
                  <input type="submit" value="Delete" class="text-red-500 underline cursor-pointer hover:text-red-700">
                </form>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>