<!DOCTYPE html>
<html>
<head>
  <title>Studio Table</title>
</head>
<body>
    <a href="/admin/studios/add">Add Studio</a>
  <table>
    <thead>
      <tr>
        <th>Column Name</th>
        <th>Type</th>
        <th>Theater Name</th>
      </tr>
    </thead>
    <tbody>
      <% studios.forEach((studio) => { %>
        <tr>
          <td><%= studio.name %></td>
          <td><%= studio.type %></td>
          <td><%= studio.theater_name %></td>
          <td><a href="/admin/studios/edit/<%= studio.studio_id %>">Edit</a></td>
            <td><form action="/delete-studio/<%=studio.studio_id%>" method="POST">
                <input type="submit" value="Delete">
                 </form>
            </td>
        </tr>
      <% })%>
    </tbody>
  </table>
</body>
</html>
