<!DOCTYPE html>
<html>
  <head>
    <title>Movie List</title>

    <script>
      const filterForm = document.getElementById("filterForm");
      document.querySelector(".cityFilter").addEventListener("click", function(){

        filterForm.cityFilter();

      });
    </script>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/styles/fe_style.css">
        <link rel="stylesheet" href="/styles/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>

    <section id="movieList" class="bg-black py-16 text-[#cfab7a]">
      <div class="container mx-auto">
          <h1 class="mb-4 text-4xl font-semibold">Now Playing
          </h1>
          <div class="kodfun-galeri">
              <% movies.forEach(movie => {  %>
                  <div style="background-image: url('/images/<%= movie.images %>');">
                      <div class="overlay">
                          <a href="/schedules/<%= movie.movie_id %>" class="font-semibold "><%= movie.title %></a>
                   
                      </div>
                  </div>
                <% }) %>
          </div>
      </div>
    </section>

    
 
    <!--Movie Selected Info-->
    <p><%= movie.title %></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= movieVideo %>?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <!--Filter-->
    <form id="filterForm" action="/schedules/<%= movie.movie_id %>" method="GET">
        <select id="selectedCity" name="selectedCity">
          <% cities.forEach((city) => { %>
            <option value="<%= city.city %>"><%= city.city %></option>
          <% }) %>
        </select>


        <input type="date" id="selectedDate" name="selectedDate">

        <button type="submit">Filter</button>
      </form>


   





    <% if (schedules != null ) { %>
        <% if (schedules.length > 0) { %>

            <h3>Schedules:</h3>

            <ul>
              <% schedules.forEach(schedule => { %>
                <li><%= schedule.date %> at <%= schedule.hours %>.00</li>
              <% }) %>
            </ul>

          <% } else { %>
            <p>No schedules available for this movie.</p>
          <% } %>
     <% } %>

    </body>
  </html>
