<!DOCTYPE html>
<html>

<head>
  <title>Movie List</title>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/fe_style.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="font-raleway">
  <!-- Navbar -->
  <nav class="p-10 bg-black text-cfab7a">
    <div class="container flex flex-col items-center justify-between mx-auto lg:flex-row">
      <a href="/" class="text-3xl font-semibold">TixOnline</a>
      <div class="text-[#cfab7a] mt-4 lg:mt-0 flex flex-wrap justify-center">
        <a href="/" class="px-4 hover:text-white nav-item">Home</a>
        <a href="/#nowplaying" class="px-4 hover:text-white smooth-scroll nav-item active">Now Playing</a>
        <a href="/" class="px-4 hover:text-white smooth-scroll nav-item">Coming Soon</a>
        <a href="/theaters" class="px-4 hover:text-white nav-item">Theaters</a>
        <a href="/" class="px-4 hover:text-white smooth-scroll nav-item">About</a>
      </div>
      <div class="flex items-center mt-4 lg:mt-0">
        <% if (session && session.username) { %>
          <a href="/profile" class="px-4 hover:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
            </svg>
          </a>
          <% } else { %>
            <button id="registerBtn"
              class="w-auto px-3 py-1 mr-2 text-black rounded custom-btn hover:text-white hover:custom-btn"><a
                href="/register-account">Register</a></button>
            <button id="loginBtn"
              class="w-auto px-3 py-1 text-black rounded custom-btn hover:text-white hover:custom-btn"><a
                href="/login-account">Log in</a></button>
            <% } %>
      </div>
    </div>
  </nav>

  <section id="movieList" class="bg-black py-16 text-[#cfab7a]">
    <div class="container mx-auto">
      <h1 class="mb-4 text-4xl font-semibold">Now Playing</h1>
      <a href="/theaters">Find by Location</a>
      <form id="filterForm" action="/schedules-movie/<%= movie.movie_id %>" method="GET" class="mb-4">
        <select id="selectedCity" name="selectedCity"
          class="px-4 py-2 mr-4 bg-black border-2 rounded cursor-pointer border-cfab7a" onchange="this.form.submit();">
          <% cities.forEach((city)=> { %>
            <option value="<%= city.city %>" <% if(city.city==cityFilter){ %> selected <%}%>><%= city.city %>
            </option>
            <% }) %>
        </select>
        <select id="selectedDate" name="selectedDate"
          class="px-4 py-2 bg-black border-2 rounded cursor-pointer border-cfab7a" onchange="this.form.submit();">
          <% dateSelector.forEach((date)=> { %>
            <option value="<%= date.date %>" <% if(date.date==dateFilter){ %> selected <%}%>><%= date.date %>
            </option>
            <% }) %>
        </select>
      </form>
      <div class="kodfun-galeri">
        <% movies.forEach(movie=> { %>
          <div style="background-image: url('/images/<%= movie.images %>');">
            <div class="overlay">
              <a href="/schedules-movie/<%= movie.movie_id %>?selectedCity=<%=cityFilter%>&selectedDate=<%=dateFilter%>"
                class="text-2xl font-semibold ">
                <%= movie.title %>
              </a>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </section>

  <section id="movieDetail" class="bg-black py-16 text-[#cfab7a] ">
    <div class="container mx-auto space-y-4">
      <h1 class="text-4xl font-semibold text-left">
        <%= movie.title %>
      </h1>
      <div class="space-y-1 text-xl text-left">
        <%= movie.rating %> | <%= movie.genre %>
      </div>
      <!--Movie Selected Info-->
      <div class="flex justify-center">
        <iframe class="flex justify-center mb-4" width="560" height="315"
          src="https://www.youtube.com/embed/<%= movieVideo %>?controls=0" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div class="text-left">
        <p>
          <%= movie.synopsis %>
        </p>
      </div>
  </section>

  <% const today=new Date(); today.setHours(today.getHours() + 0); today.setDate(today.getDate()+0); const now=new
    Date(); now.setUTCHours(now.getUTCHours() + 7); const hours=String(now.getUTCHours()).padStart(2, '0' ); const
    minutes=String(now.getUTCMinutes()).padStart(2, '0' ); const timeString=hours + ':' + minutes;
    console.log(timeString); %>

    <section id="schedule" class="bg-black py-16 text-[#cfab7a] ">
      <div class="container flex mx-auto space-x-4">
        <div class="w-1/2 pr-8">
          <% if (schedules !=null ) { %>
            <% if (schedules.length> 0) { %>
              <% let scheduleByLocation={}; %>
                <% schedules.forEach(schedule=> {
                  if (!scheduleByLocation[schedule.name]) {
                  scheduleByLocation[schedule.name] = [];
                  }
                  scheduleByLocation[schedule.name].push(schedule);
                  }); %>
                  <% Object.keys(scheduleByLocation).forEach(name=> { %>
                    <hr class="my-4 border-cfab7a"> <!-- Here's the horizontal line -->
                    <h2 class="flex items-center mb-4 text-2xl">
                      <img src="/images/locationSym.png" alt="Location Icon" class="w-6 h-6">
                      <span class="ml-2">
                        <%= name %>
                      </span>
                    </h2>
                    <ul class="pl-0 mb-8 list-none">
                      <% scheduleByLocation[name].forEach(schedule=> { %>
                        <% if((timeString> schedule.hours) && (today.toLocaleDateString('en-GB') >=
                          schedule.date.toLocaleDateString('en-GB')) ){ %>
                          <% if(session !=null) {%>
                            <a href="/seat/<%= schedule.schedule_id %>"
                              class="inline-block px-4 py-2 mb-2 font-semibold text-black rounded pointer-events-none dead-btn">
                              <%= schedule.hours %>
                                <%= schedule.type %>
                            </a>
                            <% }else{ %>
                              <a onclick="showPopup()"
                                class="inline-block px-4 py-2 mb-2 font-semibold text-black rounded pointer-events-none dead-btn">
                                <%= schedule.hours %>
                                  <%= schedule.type %>
                              </a>
                              <% } %>
                                <% } else {%>
                                  <% if(session !=null) {%>
                                    <a href="/seat/<%= schedule.schedule_id %>"
                                      class="inline-block px-4 py-2 mb-2 font-semibold text-black rounded cursor-pointer custom-btn hover:custom-btn">
                                      <%= schedule.hours %>
                                        <%= schedule.type %>
                                    </a>
                                    <% }else{ %>
                                      <a onclick="showPopup()"
                                        class="inline-block px-4 py-2 mb-2 font-semibold text-black rounded cursor-pointer custom-btn hover:custom-btn">
                                        <%= schedule.hours %>
                                          <%= schedule.type %>
                                      </a>
                                      <% } %>
                                        <% } %>
                                          <% }); %>
                    </ul>
                    <% }); %>
                      <% } else { %>
                        <p>No schedules available for this movie.</p>
                        <% } %>
                          <% } %>
        </div>
        <div class="flex items-center justify-center w-1/2">
          <img src="/images/<%= movie.images %>" alt="<%= movie.title %>" class="w-1/2">
        </div>
      </div>
    </section>


    <div id="popup" class="popup">
      <div class="w-full max-w-md px-8 py-6 mx-auto text-center text-black rounded-lg ">
        <h2 class="mb-4 text-2xl font-semibold">This is a pop-up!</h2>
        <p class="mb-6">Please login first to buy ticket</p>
        <button onclick="hidePopup()"
          class="px-4 py-2 font-semibold text-white bg-red-600 rounded hover:bg-red-700">Close</button>
      </div>
    </div>

    <!-- Footer -->
    <footer class="bg-black text-cfab7a py-6 text-[#cfab7a]">
      <div class="container mx-auto text-center">
        <p>&copy; 2023 TixOnline. All rights reserved.</p>
      </div>
    </footer>

    <script src="/script/script.js" defer></script>
</body>

</html>