<!-- profile.ejs -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/fe_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

  <body class="leading-normal tracking-normal bg-black font-raleway text-cfab7a">
    <div class="container p-5 mx-auto my-5">
      <h1 class="mb-2 text-4xl font-bold">Profile</h1>
      <div class="p-4 mb-6 border-2 border-white rounded shadow-md">
        <p class="mb-2 text-xl"><strong>
            <%= user.username %>
          </strong> </p>
        <p class="mb-2 text-xl">
          <%= user.email %>
        </p>
        <p class="mb-2 text-xl">
          <%= user.phone_number %>
        </p>
      </div>
      <!--Display Transactions History-->
      <div class="p-6 border-2 border-white rounded shadow-md">

        <!--Display Transactions History-->
        <% const today=new Date(); today.setHours(today.getHours() + 0); today.setDate(today.getDate()+0); const now=new
          Date(); now.setUTCHours(now.getUTCHours() + 7); const hours=String(now.getUTCHours()).padStart(2, '0' ); const
          minutes=String(now.getUTCMinutes()).padStart(2, '0' ); const timeString=hours + ':' + minutes;
          console.log(timeString); %>


          <table>
            <% purchases.forEach((purchase)=> {
              if((purchase.transaction_status !== 'CANCELED') && ((timeString < purchase.hours) &&
                (today.toLocaleDateString('en-GB') <=purchase.date.toLocaleDateString('en-GB'))) ){%>
                <tr>
                  <td>
                    <%= purchase.title %>
                  </td>
                  <td>
                    <%= purchase.date.toLocaleDateString() %>
                  </td>
                  <td>
                    <%= purchase.hours %>
                  </td>
                  <td>
                    <%= purchase.studio_name%>
                  </td>
                  <td>
                    <%= purchase.theater_name%>
                  </td>
                  <td>
                    <%= purchase.transaction_status %>
                  </td>
                  <%purchase.seat_numbers.forEach((seat)=>{%>
                    <td>
                      <%= seat %>
                    </td>
                    <%});%>
                      <td>
                        <div class="flex flex-col p-2 bg-neutral rounded-box text-neutral-content">
                          <span class="font-mono text-5xl countdown">
                            <span id="seconds" style="--value:0;"></span>
                            <span id="Minutes" style="--value:0;"></span>
                          </span>
                          Seconds
                        </div>
                      </td>
                </tr>
                <%} %>

                  <% }); %>
          </table>
          <br>
          <br>
          <br>
          <h2 class="mb-2 text-2xl font-bold">Transaction History</h2>
          <table>
            <% purchases.forEach((purchase)=> {
              if((purchase.transaction_status === 'CANCELED') || ((timeString > purchase.hours) &&
              (today.toLocaleDateString('en-GB') >= purchase.date.toLocaleDateString('en-GB'))) ){%>
              <tr>
                <td>
                  <%= purchase.title %>
                </td>
                <td>
                  <%= purchase.date.toLocaleDateString() %>
                </td>
                <td>
                  <%= purchase.hours %>
                </td>
                <td>
                  <%= purchase.studio_name%>
                </td>
                <td>
                  <%= purchase.theater_name%>
                </td>
                <td>
                  <%= purchase.transaction_status %>
                </td>
                <%purchase.seat_numbers.forEach((seat)=>{%>
                  <td>
                    <%= seat %>
                  </td>

                  <%});%>
                  <td>
                    <%let today=new Date();
                    let remainingTime = today - purchase.date;
                    %>
                   <%= remainingTime; %>
                  </td>
              </tr>
              <%} %>

                <% }); %>
          </table>
      </div>
    </div>

    <!-- Logout Button -->
    <div class="flex justify-center">
      <form action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>
    </div>
        

    </head>
  </body>

</html>

<script>
  function startCountdown(secondsElement) {
    let remainingTime = 57;

    function updateCountdown() {
      secondsElement.style.setProperty('--value', remainingTime);

      remainingTime--;

      if (remainingTime >= 0) {
        setTimeout(updateCountdown, 1000);
      }
    }

    updateCountdown();
  }

  // Start the countdown for purchases with a "WAITING" transaction status
  const purchaseRows = document.querySelectorAll('tr');
  purchaseRows.forEach((row) => {
    const transactionStatus = row.querySelector('td:nth-child(6)').textContent.trim();
    if (transactionStatus === 'WAITING') {
      const secondsElement = row.querySelector('.countdown span');
      startCountdown(secondsElement);
    }
  });
</script>