<!-- profile.ejs -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/fe_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="leading-normal tracking-normal bg-black font-raleway text-cfab7a">
  <!-- Navbar -->
  <nav class="p-10 bg-black text-cfab7a">
    <div class="container flex flex-col items-center justify-between mx-auto lg:flex-row">
      <a href="/" class="text-3xl font-semibold">TixOnline</a>
      <div class="text-[#cfab7a] mt-4 lg:mt-0 flex flex-wrap justify-center">
        <a href="/" class="px-4 hover:text-white nav-item">Home</a>
        <a href="/#nowplaying" class="px-4 hover:text-white smooth-scroll nav-item">Now Playing</a>
        <a href="/#comingsoon" class="px-4 hover:text-white smooth-scroll nav-item">Coming Soon</a>
        <a href="/theaters" class="px-4 hover:text-white nav-item">Theaters</a>
        <a href="/#about" class="px-4 hover:text-white smooth-scroll nav-item">About</a>
      </div>
      <div class="flex items-center mt-4 lg:mt-0">
        <a href="/profile" class="px-4 nav-item active hover:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
          </svg>
        </a>
      </div>
    </div>
  </nav>
  <div class="container mx-auto">
    <h1 class="mb-5 text-4xl font-bold">Profile</h1>
    <div class="px-8 py-4 mb-6 border-2 rounded-md shadow-md border-cfab7a">
      <p class="mb-2 text-xl"><strong>
          <%= user.username %>
        </strong> </p>
      <p class="mb-2 text-xl">
        <%= user.email %>
      </p>
      <p class="mb-2 text-xl">
        <%= user.phone_number %>
      </p>
      <p class="mb-2 text-xl">
        points : <%= user.points %>
      </p>
    </div>

      
  <%  const today = new Date(); 
  today.setHours(today.getHours() + 0); 
  today.setDate(today.getDate()+0);
  const now = new Date();
  now.setUTCHours(now.getUTCHours() + 7);
  console.log(now);
  const hours = String(now.getUTCHours()).padStart(2, '0');
  const minutes = String(now.getUTCMinutes()).padStart(2, '0');
  
  const timeString = hours + ':' + minutes;
  %>
  
  

    <!-- Display for Ongoing Transactions Today -->
    <div>
      <div class="px-8 py-4 mb-6 border-2 rounded-md shadow-md border-cfab7a">
        <h2 class="mb-2 text-2xl font-bold text-cfab7a">Ongoing Transaction</h2>
        <table>
          <% purchases.forEach((purchase)=> {

            var time = purchase.hours;
            var timeComponents = time.split(':');
            var hours = parseInt(timeComponents[0]);
            var minutes = parseInt(timeComponents[1]);

            purchase.date.setHours(hours);
            purchase.date.setMinutes(minutes);

            if((purchase.transaction_status !== 'CANCELED') && (now < purchase.date)){
              console.log(purchase.title + purchase.date );
              %>
              
              <tr>
              <td>
                <%= purchase.title %>
              </td>
              <td>
                <%= purchase.date %>
              </td>
              <td>
                <%= purchase.hours %>
              </td>
              <td>
                <%= purchase.studio_name %>
              </td>
              <td>
                <%= purchase.theater_name %>
              </td>
              <td>
                <%= purchase.transaction_status %>
              </td>
              <% purchase.seat_numbers.forEach((seat)=> { %>
                <td>
                  <%= seat %>
                </td>
                <% }); %>
                  <td>
                    <%= today - purchase.date %>
                  </td>
                  <%if(purchase.transaction_status ==='WAITING'){%>
                    <td>
                      <%var purchaseDate=new Date(purchase.payment_max_date); %>
                        <div class="timer" data-timestamp="<%=purchaseDate%>"></div>
                    </td>
                    <td>
                      <form method="POST" action="/pay">
                        <input type="hidden" name="transaction_id" value="<%= purchase.transaction_id %>">
                        <input type="hidden" name="pay_button_clicked" value="TRUE">
                        <input type="hidden" name="total_prices" value="<%= purchase.total_prices %>">
                        <input type="hidden" name="quantity" value="<%= purchase.quantity %>">
                        <input type="submit" value="Pay">
                      </form>
                    </td>

                    <%}%>
            </tr>
            <% } }); %>
        </table>

        <!-- Display for Transaction History -->
        <div>
          <div class="my-5 border-t-2 border-cfab7a"></div>
          <h2 class="mb-2 text-2xl font-bold text-cfab7a">Transaction History</h2>
          <table>
            <% purchases.forEach((purchase)=> {
              
              var time = purchase.hours;
              var timeComponents = time.split(':');
              var hours = parseInt(timeComponents[0]);
              var minutes = parseInt(timeComponents[1]);

              purchase.date.setHours(hours);
              purchase.date.setMinutes(minutes);

              if((purchase.transaction_status === 'CANCELED') || (now < purchase.date)){%>
              <tr>
                <td>
                  <%= purchase.title %>
                </td>
                <td>
                  <%= purchase.date.toLocaleDateString() %>
                </td>         
                <td>
                  <%= purchase.hours %>
                </td>
                <td>
                  <%= purchase.studio_name %>
                </td>
                <td>
                  <%= purchase.theater_name %>
                </td>
                <td>
                  <%= purchase.transaction_status %>
                </td>
                <% purchase.seat_numbers.forEach((seat)=> { %>
                  <td>
                    <%= seat %>
                  </td>
                  <% }); %>
              </tr>
              <% } }); %>
          </table>
        </div>
      </div>
    </div>

    <!-- Logout Button -->
    <div class="flex justify-center mt-5">
      <form action="/logout" method="post">
        <button class="px-6 py-2 text-black rounded custom-btn" type="submit">Logout</button>
      </form>
    </div>
    </head>
  </div>
  <!-- Footer -->
  <footer class="bg-black text-cfab7a py-6 text-[#cfab7a]">
    <div class="container mx-auto text-center">
      <p>&copy; 2023 TixOnline. All rights reserved.</p>
    </div>
  </footer>

  <script>
    function pay(transaction_id) {
      //tambah fetch POST insert transaction
      fetch('http://localhost:3000/pay-later', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },//quantity, transaction_date
        body: JSON.stringify({transaction_id: transaction_id}),
      })
        .then(function (response) {

        })
        .catch(function (error) {
          // Handle any errors that occurred during the request
        });

      setTimeout(function () {
        makeTickets();
      }, 500);
    }

    function countdown(element, timestamp) {
      var targetDate = new Date(timestamp).getTime();
      // Update the countdown every second
      var countdownInterval = setInterval(function () {
        var now = new Date().getTime();
        var timeRemaining = targetDate - now;
        // Calculate days, hours, minutes, and seconds
        var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
        var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
        // Display the countdown
        element.innerHTML = minutes + "m " + seconds + "s ";
        // If the countdown is finished, clear the interval
        if (timeRemaining <= 0) {
          clearInterval(countdownInterval);
          element.innerHTML = "Countdown Finished!";
        }
      }, 1000); // Update every second
    }
    // Get all elements with class "timer"
    var timerElements = document.getElementsByClassName("timer");
    // Iterate through each timer element and start the countdown
    for (var i = 0; i < timerElements.length; i++) {
      var element = timerElements[i];
      var timestamp = element.getAttribute("data-timestamp");
      countdown(element, timestamp);
    }
  </script>
</body>

</html>