<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/fe_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <title>Payment Complete</title>
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      fetch('http://localhost:3000/transaction-done', {
        method: 'PUT',
      })
        .then(response => {
          if (response.ok) {
            // Request succeeded
            console.log('Transaction done successfully!');
          } else {
            // Request failed
            console.error('Error completing the transaction:', response.status);
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    });
  </script>
</head>

<body class="mx-20 bg-black text-cfab7a font-raleway">
  <div class="container mx-auto space-y-4">
    <h1 class="py-5 mx-5 mt-10 text-4xl font-extrabold">Payment Successful!</h1>
    <div class="flex items-center px-5 py-3 mb-3 space-x-10 text-sm">
      <div class="flex flex-col">
        <span class="text-lg">Theater</span>
        <div class="text-lg font-semibold">
          <%= tickets[0].theater_name %>
        </div>
      </div>
      <div class="flex flex-col">
        <span class="text-lg">Date</span>
        <div class="text-lg font-semibold">
          <%= tickets[0].date %>
        </div>
      </div>
    </div>
    <div class="flex items-center px-5 mb-3 space-x-10 text-sm">
      <div class="flex flex-col">
        <span class="text-lg">Seats</span>
        <div class="text-lg font-semibold">
          <%= tickets[0].seat_number %>
        </div>
      </div>
      <div class="flex flex-col">
        <span class="text-lg">Time</span>
        <div class="text-lg font-semibold">
          <%= tickets[0].hours %>
        </div>
      </div>
    </div>
    <ul>
      <% tickets.forEach(function(tickets) { %>
        <li class="p-5 my-5 border-2 rounded border-cfab7a">
          <p class="mb-2">Ticket ID: <%= tickets.ticket_id %>
          </p>
          <p class="mb-2">Movie Title: <%= tickets.title %>
          </p>
          <p class="mb-2">Date: <%= tickets.date %>
          </p>
          <p class="mb-2">Time: <%= tickets.hours %>
          </p>
          <p class="mb-2">Price: <%= tickets.prices %>
          </p>
        </li>
        <% }) %>
    </ul>
    <div class="py-5 text-center">
      <a href="/" class="px-4 py-2 text-black rounded custom-btn b">OK</a>
    </div>
  </div>
</body>

</html>